[Desktop Entry]
Type=Application
Name=Weft
GenericName=Text Editor
Comment=Edit code and plain text
Exec=weft %f
Icon=weft
Terminal=false
Categories=Development;TextEditor;
MimeType=text/plain;text/english;text/markdown;text/x-markdown;text/html;text/css;text/javascript;text/x-python;text/x-makefile;text/x-c;text/x-csrc;text/x-chdr;text/x-c++;text/x-c++src;text/x-c++hdr;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/javascript;application/json;application/xml;application/x-shellscript;application/x-yaml;
StartupNotify=true
